@page "/employeeoverview"

<h1 class="page-title">All Employees</h1>


@if (Employees == null)
{
    <p><em>Loading...</em></p>
}
else
{


    <table class="table">

        <thead>
            <tr>
                <th></th>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th></th>
            </tr>
        </thead>


        <tbody>
            @foreach (var Employees in Employees)
            {
                <tr>
                    <td>

                        @{

                            string imageUrl = $"https://gillcleerenpluralsight.blob.core.windows.net/person/{Employees.EmployeeId}-small.jpg";

                            if (Employees.ImageName != null)
                            {
                                imageUrl = Employees.ImageName;
                            }

                            <img src="@imageUrl" class="rounded-circle cssImageForList"  />
                        }



                    </td>

                    <td>@Employees.EmployeeId</td>
                    <td>@Employees.FirstName</td>
                    <td>@Employees.LastName</td>

                    <td>
                        <a href="@($"employeedetail/{Employees.EmployeeId}")" class="btn btn-primary table-btn">
                            <i class="fa fa-info-circle"></i>
                        </a>

                        <a href="@($"employeeedit/{Employees.EmployeeId}")" class="btn btn-primary table-btn">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>


    </table>
}


<button @onclick="QuickAddEmployee" class="btn btn-dark table-btn quick-add-btn">&nbsp;&nbsp;+&nbsp;&nbsp;</button>
<AddEmployeeDialog @ref="AddEmployeeDialog" CloseEventCallback="@AddEmployeeDialog_OnDialogClose"></AddEmployeeDialog>